{% extends "layout.html" %}

{% block content %}

<div class="container d-flex flex-column min-vh-100">
    <div class="row text-center">
        <h1 class="title mb-5"><a href="/">TriviaFight</a></h1>
    </div>

    <div class="row text-center my-5">
        <h2 class="game-message">Choose game mode</h2>
    </div>

    <form action="/game_mode" method="post">
        <div class="row text-center my-5" id="responsive-menu">
            <div class="col">
                <button type="submit" class="menu-btn btn btn-primary" name="game_mode" value="1 player">1 player</button>
            </div>
            <div class="col">
                <button type="submit" class="menu-btn btn btn-success" name="game_mode" value="2 players">2 players </button>
            </div>
        </div>
    </form>

</div>

{% endblock %}