{% extends "layout.html" %}

{% block content %}

<div class="container d-flex flex-column min-vh-100 justify-content-between">
    <div class="row text-center mb-5">
        <div class="col">
            <h1 class="title" id="title-screen"><a href="/">TriviaFight</a></h1>
        </div>
    </div>
    
    <div class="row text-center mb-5">
        <div class="col">
            <h2 class="game-message">Welcome to TriviaFight!</h2>
        </div>
    </div>
    
    <form action="/", method="post">
        <div class="row text-center my-5" id="responsive-menu">
            <div class="col">
                <button type="submit", class="menu-btn btn btn-primary", name="menu", value="Play">Play</button>
            </div>
            <div class="col">
                <button type="submit", class="menu-btn btn btn-warning", name="menu", value="Instructions">Instructions</button>
            </div>
            <div class="col">
                <button type="submit", class="menu-btn btn btn-success", name="menu", value="Options">Options</button>
            </div>
        </div>
    </form>

    
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <div class="alert alert-box alert-warning alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </div>
    </div>
</div>


{% endblock %}