{% extends "layout.html" %}

{% block content %}

<div class="container d-flex flex-column min-vh-100 justify-content-between">
    <div class="row text-center mb-5">
        <div class="col">
            <h1 class="title"><a href="/">TriviaFight</a></h1>
        </div>
    </div>
    
    <div class="row text-center mb-3">
        <div class="col">
            <h2 class="game-message"> Choose player names</h2>
        </div>
    </div>

    <form action="/options" method="post" class="text-center">
        <div class="row justify-content-center" id="responsive-menu">
            <div class="col-auto mb-5">
                <label for="p1_name" class="form-label">Player 1</label>
                <input type="text" class="form-control text-center" id="p1_name" value="{{session.p1_name}}" name="p1_name" maxlength="20" style="text-align: center;">
            </div>
            <div class="col-auto mb-5">
                <label for="p2_name" class="form-label">Player 2</label>
                <input type="text" class="form-control text-center" id="p2_name" value="{{session.p2_name}}" name="p2_name" maxlength="20" style="text-align: center;">
            </div>
        </div>

        <div class="row mb-5 justify-content-center">
            <div class="col-auto">
                <h2 class="game-message">Number of questions</h2>
                <input type="range" class="form-range" min="8" max="20" step="2" value="{{session.questions_number}}" id="range" name="questions_number" oninput="updateValue(this.value)">
                <span id="rangeValue">{{session.questions_number}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="menu-btn btn btn-success" name="button" value="Apply changes">Apply changes</button>
            </div>
            <div class="col text-center">
                <button type="submit" class="menu-btn btn btn-primary" name="button" value="Main menu">Main menu</button>
            </div>
        </div>
    </form> 

    <div class="row mt-3">
        <div class="col">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="list-unstyled">
                        {% for category, message in messages %}
                            {% if category == "success" %}
                            <div class="alert alert-box alert-success alert-dismissible fade show">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <li class="{{ category }}">{{ message }}</li>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<script>
    function updateValue(value) {
        document.getElementById('rangeValue').textContent = value;
    }
</script>

{% endblock %}